USE [dbQLSV_DaiHoc]
GO
/****** Object:  Table [dbo].[chuyenNganh]    Script Date: 12/5/2020 1:58:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[chuyenNganh](
	[maChuyenNganh] [char](10) NOT NULL,
	[tenChuyenNganh] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maChuyenNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ketQuaThi]    Script Date: 12/5/2020 1:58:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ketQuaThi](
	[MSSV] [char](10) NOT NULL,
	[MaMH] [char](10) NOT NULL,
	[DiemHe10] [float] NULL,
	[DiemChu] [char](2) NULL,
	[XepLoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 12/5/2020 1:58:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MonHoc](
	[maMH] [char](10) NOT NULL,
	[tenMH] [nvarchar](100) NULL,
	[soTC] [int] NULL,
	[maChuyenNganh] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sinhVien]    Script Date: 12/5/2020 1:58:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sinhVien](
	[MSSV] [char](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiemHe4] [float] NULL,
	[XepLoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[xlsx]    Script Date: 12/5/2020 1:58:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xlsx](
	[STT] [float] NULL,
	[MSSV] [char](10) NULL,
	[HoTen] [nvarchar](255) NULL,
	[NhapMonLapTrinh] [float] NULL,
	[TH_NhapMonLapTrinh] [float] NULL,
	[ToanCC] [float] NULL,
	[LTHuongDoiTuong] [float] NULL,
	[TH_LTHuongDoiTuong] [float] NULL,
	[KienTrucMayTinh] [float] NULL,
	[ToanRoiRac] [float] NULL,
	[CauTrucDuLieu] [float] NULL,
	[THCauTrucDuLieu] [float] NULL,
	[CoSoDuLieu] [float] NULL,
	[THCoSoDuLieu] [float] NULL,
	[DaiSoTuyenTinh] [float] NULL,
	[HeDieuHanh] [float] NULL,
	[HeQuanTriCSDL] [float] NULL,
	[MangMayTinh] [float] NULL,
	[THMangMayTinh] [float] NULL,
	[TriTueNhanTao] [float] NULL,
	[CongNgheJava] [float] NULL,
	[LapTrinhWeb] [float] NULL,
	[DiemHe10] [float] NULL,
	[DiemHe4] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[chuyenNganh] ([maChuyenNganh], [tenChuyenNganh]) VALUES (N'CNPM      ', N'Công nghệ phần mềm')
INSERT [dbo].[chuyenNganh] ([maChuyenNganh], [tenChuyenNganh]) VALUES (N'HTTT      ', N'Hệ thống thông tin')
INSERT [dbo].[chuyenNganh] ([maChuyenNganh], [tenChuyenNganh]) VALUES (N'KTDL      ', N'Khai thác dữ liệu')
INSERT [dbo].[ketQuaThi] ([MSSV], [MaMH], [DiemHe10], [DiemChu], [XepLoai]) VALUES (N'2001170002', N'000002    ', 5.4, NULL, NULL)
INSERT [dbo].[ketQuaThi] ([MSSV], [MaMH], [DiemHe10], [DiemChu], [XepLoai]) VALUES (N'2001170002', N'000420    ', 2.9, NULL, NULL)
INSERT [dbo].[ketQuaThi] ([MSSV], [MaMH], [DiemHe10], [DiemChu], [XepLoai]) VALUES (N'2001170002', N'000605    ', 4.9, NULL, NULL)
GO
INSERT [dbo].[MonHoc] ([maMH], [tenMH], [soTC], [maChuyenNganh]) VALUES (N'000002    ', N'Công nghệ Java', 3, N'CNPM      ')
INSERT [dbo].[MonHoc] ([maMH], [tenMH], [soTC], [maChuyenNganh]) VALUES (N'000420    ', N'LT Cấu trúc Dữ Liệu và Giải Thuật', 3, N'CNPM      ')
INSERT [dbo].[MonHoc] ([maMH], [tenMH], [soTC], [maChuyenNganh]) VALUES (N'000605    ', N'LT Cơ Sở Sữ Liệu', 3, N'HTTT      ')
INSERT [dbo].[sinhVien] ([MSSV], [HoTen], [DiemHe4], [XepLoai]) VALUES (N'2001170002', N'Phạm Hoàng Ánh', 1.91, NULL)
INSERT [dbo].[sinhVien] ([MSSV], [HoTen], [DiemHe4], [XepLoai]) VALUES (N'2001170005', N'NGUYỄN HOÀNG QUỐC BẢO', 2.22, NULL)
INSERT [dbo].[sinhVien] ([MSSV], [HoTen], [DiemHe4], [XepLoai]) VALUES (N'2001170006', N'PHẠM TRẦN GIA BẢO', 2.93, NULL)
GO
INSERT [dbo].[xlsx] ([STT], [MSSV], [HoTen], [NhapMonLapTrinh], [TH_NhapMonLapTrinh], [ToanCC], [LTHuongDoiTuong], [TH_LTHuongDoiTuong], [KienTrucMayTinh], [ToanRoiRac], [CauTrucDuLieu], [THCauTrucDuLieu], [CoSoDuLieu], [THCoSoDuLieu], [DaiSoTuyenTinh], [HeDieuHanh], [HeQuanTriCSDL], [MangMayTinh], [THMangMayTinh], [TriTueNhanTao], [CongNgheJava], [LapTrinhWeb], [DiemHe10], [DiemHe4]) VALUES (1, N'2001170002', N'Phạm Hoàng Ánh', 3.1, 6.8, 4.4, 2.9, 5.5, 4.3, NULL, 2.9, 7.6, 4.9, 7.9, 4.5, 5.1, 4.9, 4.9, 7, 4.9, 5.4, 5.6, 5.83, 1.91)
INSERT [dbo].[xlsx] ([STT], [MSSV], [HoTen], [NhapMonLapTrinh], [TH_NhapMonLapTrinh], [ToanCC], [LTHuongDoiTuong], [TH_LTHuongDoiTuong], [KienTrucMayTinh], [ToanRoiRac], [CauTrucDuLieu], [THCauTrucDuLieu], [CoSoDuLieu], [THCoSoDuLieu], [DaiSoTuyenTinh], [HeDieuHanh], [HeQuanTriCSDL], [MangMayTinh], [THMangMayTinh], [TriTueNhanTao], [CongNgheJava], [LapTrinhWeb], [DiemHe10], [DiemHe4]) VALUES (2, N'2001170005', N'NGUYỄN HOÀNG QUỐC BẢO', 6, 7, 5.7, 7.1, 7.5, 5, 4, 3.5, 5.9, 5.4, 6.2, 4.6, 4.9, 5.9, 5.6, 4.9, 5.8, 6, 4.4, 6.26, 2.22)
INSERT [dbo].[xlsx] ([STT], [MSSV], [HoTen], [NhapMonLapTrinh], [TH_NhapMonLapTrinh], [ToanCC], [LTHuongDoiTuong], [TH_LTHuongDoiTuong], [KienTrucMayTinh], [ToanRoiRac], [CauTrucDuLieu], [THCauTrucDuLieu], [CoSoDuLieu], [THCoSoDuLieu], [DaiSoTuyenTinh], [HeDieuHanh], [HeQuanTriCSDL], [MangMayTinh], [THMangMayTinh], [TriTueNhanTao], [CongNgheJava], [LapTrinhWeb], [DiemHe10], [DiemHe4]) VALUES (3, N'2001170006', N'PHẠM TRẦN GIA BẢO', 8.2, 8.5, 6.1, 7.8, 9.3, 6.5, 7.3, 4.2, 7.5, 8.8, 9.1, 5.9, 7.3, 5.3, NULL, NULL, 6.6, 4, 0, 7.4, 2.93)
GO
ALTER TABLE [dbo].[ketQuaThi]  WITH CHECK ADD  CONSTRAINT [fk_KQ_MH] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([maMH])
GO
ALTER TABLE [dbo].[ketQuaThi] CHECK CONSTRAINT [fk_KQ_MH]
GO
ALTER TABLE [dbo].[ketQuaThi]  WITH CHECK ADD  CONSTRAINT [fk_KQ_SV] FOREIGN KEY([MSSV])
REFERENCES [dbo].[sinhVien] ([MSSV])
GO
ALTER TABLE [dbo].[ketQuaThi] CHECK CONSTRAINT [fk_KQ_SV]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [fk_MH_CN] FOREIGN KEY([maChuyenNganh])
REFERENCES [dbo].[chuyenNganh] ([maChuyenNganh])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [fk_MH_CN]
GO
